.course-card {
  border-radius: 12px !important;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  box-shadow: 0px 4px 30px rgba(0.5, 0, 0.5, 0.5);
}

.course-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.course-card .btn {
  border-radius: 8px;
  background-color: #ca4625 !important;
  border:none !important;
}
.icon{
  color: #ca4625 !important;
  
}

.course-card .card-title {
  font-size: 1.1rem;
}

.course-card .card-text {
  font-size: 0.9rem;
}