
.sidebar-link {
  color: #444 !important;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.2s ease;
  
}


.sidebar-link:hover {
  background-color:   #a6402c;
  color: #f4f4f4 !important; 
}


.sidebar-link.active {
  background-color: #a6402c;
  color: #fff !important;
}
