.yoga-slider .carousel-caption {
  bottom: 20%;
  text-align: left;
  left: 10%;
  right: auto;
}

.slider-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.slider-text {
  font-size: 1.2rem;
  color: #f5f5f5;
  max-width: 500px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.yoga-slider .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.yoga-slider .carousel-caption {
  position: absolute;
  z-index: 2;
}
